<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Workout Manager</title>
        <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    </head>
    <body>
        <div align="center" id="container">
            <div id="header">
                <div style="background-color: whitesmoke;">
                    <hr />
                    <h1 th:text="@{'Workout Manager'}">Workout Manager</h1>
                    <hr />
                </div>
            </div>
            <div id="body">
                <div style="height: 30px;"></div>
                <table style="margin: 0 auto;">
                    <tr>
                        <td>
                            <h2 th:text="${schedule.name}" class="scheduleMain">Schedule</h2>
                            <table align="center">
                                <tr>
                                    <td th:each="workout : ${schedule.workouts}"  class="workoutMain">
                                        <a th:href="@{'http://localhost:8080/workout/' + ${workout.id}}">
                                            <div th:style="@{'height: -webkit-fill-available; width: -webkit-fill-available; background-color: ' + ${workout.color}}">
                                                <table align="center">
                                                    <tr>
                                                        <td style="height: 60px;">
                                                            <span th:text="${workout.name}" style="font-weight: bold;"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span th:if="${workout.lastPerformTime == null}" th:text="@{'Not Performed'}"></span>
                                                            <span th:if="${workout.lastPerformTime != null}" th:text="@{'Last Performed'}"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span th:text="${workout.lastPerformTime}"></span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="footer">
                <hr />
                <h3 th:text="${'work is just another type of entertainment'}">work is just another type of entertainment</h3>
                <hr />
            </div>
        </div>
    </body>
</html>