<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registration Form</title>
        <link rel="stylesheet" type="text/css" href="../../resources/css/style.css"/>
    </head>
    <body>
        <div align="center">
            <img src="../../resources/images/header_image.jpg" style="height: 100px; width: auto;" />
            <h1>Register</h1>
            <form method="POST" th:object="${user}" enctype="multipart/form-data">
                <div class="errors" th:if="${#fields.hasErrors('*')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('*')}" 
                            th:text="${err}">
                                Input is incorrect
                        </li>
                    </ul>
                </div>

                <label th:class="${#fields.hasErrors('username')}? 'error'">Username</label>:
                <input type="text" th:field="*{username}" th:class="${#fields.hasErrors('username')}? 'error'"/> <br/>

                <label th:class="${#fields.hasErrors('email')}? 'error'">Email</label>:
                <input type="text" th:field="*{email}" th:class="${#fields.hasErrors('email')}? 'error'"/> <br/>

                <label th:class="${#fields.hasErrors('password')}? 'error'">Password</label>:
                <input type="text" th:field="*{password}" th:class="${#fields.hasErrors('password')}? 'error'"/> <br/>

                <label>Profile Picture</label>:
                <input type="file" name="profilePicture" accept="image/jpeg,image/jpg,image/png,image/gif" /> <br/>
                <input type="submit" value="Register"/>
            </form>
        </div>
    </body>
</html>