<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Workout Manager</title>
        <link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/css/style.css"/>
    </head>
    <body>
        <div align="center">
            <h1 th:text="${workout.name}"></h1>
            <table align="center">
                <tr th:each="exercise : ${workout.exercises}">
                    <td th:text="${exercise.name}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>