<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Workout Manager</title>
        <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
        <script type="text/javascript" src="../../javascript/scripts.js"/>
    </head>
    <body>
        <div align="center" id="container">
            <div id="header">
                <div style="background-color: whitesmoke;">
                    <hr />
                    <h1 th:text="@{'Workout Manager'}">Workout Manager</h1>
                    <hr />
                </div>
            </div>
            <div id="body">
                <h1 th:text="${workout.name}">Workout</h1>
                <table align="center">
                    <tr>
                        <td th:each="exercise : ${workout.exercises}" th:class="${exercise.styleClass}">
                            <span th:text="${exercise.name}"/>
                        </td>
                    </tr>
                    <tr>
                        <td th:each="exercise : ${workout.exercises}" th:class="@{${exercise.styleClass} + 'Underline'}"></td>
                    </tr>
                </table>
                <div style="height: 30px;"></div>
                <div th:if="${exercise != null}">
                    <h2 th:text="${exercise.name}">Exercise</h2>
                    <table>
                        <tr>
                            <td style="border: 1px solid aquamarine;">
                                <div align="center" th:text="SETS"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td th:each="repeat : ${exercise.repeats}" th:class="${repeat.styleClass}">
                                            <span th:text="${repeat.need}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td th:each="repeat : ${exercise.repeats}" th:class="${repeat.styleClass}">
                                            <span th:text="${repeat.done}"/>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <form action="#" th:action="@{'/workout/' + ${workout.id}}" th:object="${repeat}" method="post">
                    <div th:if="${repeat == null}">
                        <button type="submit" name="action" th:value="@{proceedAction}" style="width: 500px; height: 150px; font-size: 30px;">
                            <span th:text="${buttonName}"/>
                        </button>
                    </div>
                    <div style="height: 30px;"></div>
                    <div th:if="${state.name == 'TRAINING'}">
                        <div th:if="${repeat != null}">
                            <table>
                                <tr>
                                    <td th:each="i : ${#numbers.sequence(0, repeat.need)}">
                                        <button type="submit" name="action" th:value="${i}" style="width: 50px; height: 40px; font-size: 30px;">
                                            <span th:text="${i}"/>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div th:if="${state.name == 'RECOVERY_SET' or state.name == 'RECOVERY_EXERCISE'}">
                        <h2>Recovery Time</h2>
                        <div id="timer" style="font-size: 40px;"></div>
                        <div th:if="${state.name == 'RECOVERY_SET'}">
                            <script type="text/javascript">
                                window.onload = function () {
                                    fireTimer(30);
                                };
                            </script>
                        </div>
                        <div th:if="${state.name == 'RECOVERY_EXERCISE'}">
                            <script type="text/javascript">
                                window.onload = function () {
                                    fireTimer(240);
                                };
                            </script>
                        </div>
                    </div>
                </form>
                <form id="onEnterForm" th:action="@{'/workout/' + ${workout.id}}" method="post"></form>
            </div>
            <audio id="signal">
                <source src="../../audio/signal.mp3" type="audio/mpeg"/>
            </audio>
            <div id="footer">
                <hr />
                <h3 th:text="${'work is just another type of entertainment'}">work is just another type of entertainment</h3>
                <hr />
            </div>
        </div>
    </body>
</html>