<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Workout Manager</title>
        <link rel="stylesheet" type="text/css" href="../../resources/css/style.css"/>
        <script type="text/javascript" src="../../resources/javascript/scripts.js"/>
    </head>
    <body>
        <div align="center" id="container">
            <div id="header">
                <div style="background-color: whitesmoke;">
                    <hr />
                    <h1 th:text="@{'Workout Manager'}">Workout Manager</h1>
                    <hr />
                </div>
            </div>
            <div id="body">
                <h1 th:text="${workout.name}">Workout</h1>
                <table align="center">
                    <tr>
                        <td th:each="exercise : ${workout.exercises}" th:class="${exercise.styleClass}">
                            <span th:text="@{${exercise.name} + ' [' + ${exercise.weight} + 'kg]'}"/>
                        </td>
                    </tr>
                    <tr>
                        <td th:each="exercise : ${workout.exercises}" th:class="@{${exercise.styleClass} + 'Underline'}"></td>
                    </tr>
                </table>
                <div style="height: 30px;"></div>
                <div th:if="${exercise != null}">
                    <h2 th:text="@{${exercise.name} + ' [' + ${exercise.weight} + 'kg]'}">Exercise</h2>
                    <table>
                        <tr>
                            <td th:each="exercisePart : ${exerciseParts}" th:class="@{${exercisePart == null? 'otherPart': exercisePart.styleClass}}">
                                <div th:if="${exercisePart != null}" style="text-align: -webkit-center;">
                                    <table style="text-align: center;">
                                        <tr>
                                            <td>
                                                <span th:text="${exercisePart.title}" style="font-size: 30px;"/>
                                                <hr style="margin-top: -10px; margin-bottom: 10px;"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div th:if="${exercisePart.recoveryPeriod > 0 and exercisePart.identification == 'currentTimer'}">
                                                    <div th:id="${exercisePart.identification}"></div>
                                                    <script th:inline="javascript">
                                                        /*<![CDATA[*/
                                                        window.onload = function () {
                                                            fireTimer(/*[[${exercisePart.recoveryPeriod}]]*/);
                                                        };
                                                        /*]]>*/
                                                    </script>
                                                </div>
                                                <div th:if="${exercisePart.identification != 'currentTimer'}">
                                                    <span th:text="${exercisePart.message}"/>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div style="height: 30px;"></div>
                    <table>
                        <tr>
                            <td style="border: 1px solid aquamarine; font-size: 20px; width: 56px; text-align: center;">Sets</td>
                            <td th:each="repeat : ${exercise.repeats}" th:class="${repeat.styleClass}">
                                <span th:text="${repeat.need}"/>
                            </td>
                        </tr>
                    </table>
                </div>
                <form action="#" th:action="@{'/workout/' + ${workout.id}}" th:object="${repeat}" method="post">
                    <div style="height: 30px;"></div>
                    <div th:if="${state.name == 'BEGIN'}">
                        <button type="submit" name="action" th:value="@{beginWorkout}" style="width: 500px; height: 150px; font-size: 30px;">
                            <span>Begin Workout</span>
                        </button>
                    </div>
                    <div th:if="${state.name == 'FINISH'}">
                        <button type="submit" name="action" th:value="@{finishWorkout}" style="width: 500px; height: 50px; font-size: 30px;">
                            <span>Finish Workout</span>
                        </button>
                    </div>
                    <div th:if="${state.name == 'RECOVERY_SET' or state.name == 'RECOVERY_EXERCISE'}">
                        <button type="submit" name="action" th:value="@{skip}" style="width: 500px; height: 50px; font-size: 30px;">
                            <span>Skip Recovery</span>
                        </button>
                    </div>
                    <div th:if="${state.name == 'TRAINING'}">
                        <div th:if="${repeat != null}">
                            <div th:if="${repeat.need == 0}">
                                <button type="submit" name="action" th:value="@{next}" style="width: 500px; height: 50px; font-size: 30px;">
                                    <span>Next</span>
                                </button>
                            </div>
                            <div th:if="${repeat.need > 0}">
                                <table>
                                    <tr>
                                        <td th:each="i : ${#numbers.sequence(0, repeat.need)}">
                                            <button type="submit" name="action" th:value="${i}" style="width: 50px; height: 40px; font-size: 30px;">
                                                <span th:text="${i}"/>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
                <form id="onEnterForm" th:action="@{'/workout/' + ${workout.id}}" method="post"></form>
            </div>
            <audio id="signal">
                <source src="../../resources/audio/bells.mp3" type="audio/mpeg"/>
            </audio>
            <div id="footer">
                <hr />
                <h3 th:text="${'work is just another type of entertainment'}">work is just another type of entertainment</h3>
                <hr />
            </div>
        </div>
    </body>
</html>