span.error {
    color: red;
}
div.errors {
    background-color: #ffcccc;
    border: 2px solid red;
}
label.error {
    color: red;
}
input.error {
    background-color: #ffcccc;
}
table td.exerciseBlockNotChecked {
    width: 120px;
    height: 30px;
    border: solid 1px graytext;
    background-color: aquamarine;
    text-align: center;
}
table td.exerciseBlockChecked {
    width: 120px;
    height: 30px;
    border: solid 1px graytext;
    background-color: lightgoldenrodyellow;
    text-align: center;
}
table td.exerciseBlockNotCheckedUnderline {
    width: 120px;
    height: 5px;
    text-align: center;
}
table td.exerciseBlockCheckedUnderline {
    width: 120px;
    height: 5px;
    border: solid 1px graytext;
    background-color: lightgoldenrodyellow;
    text-align: center;
}
table td.setNotStarted {
    width: 50px; height: 50px; border: solid 1px aquamarine; text-align: center;
}
table td.setInProgress {
    width: 50px; height: 50px; border: solid 1px aquamarine; text-align: center;
}
table td.setDone {
    width: 50px; height: 50px; border: solid 1px aquamarine; text-align: center;
}